<%= form_for [ @article, @comment] do |f|%>
<div class="comment-container">
    <p class="comment-author">
        <%= f.label :author_name, "Comment as" %><br/>
        <%= f.text_field :author_name, class: "author-body",placeholder: "Who are you?"%>
    </p>
    <p class="textarea-label">
        <%= f.label :body, "Comment:" %><br/>
    </p>
        <%= f.text_area :body, class: "comment-body",placeholder: "What are your thoughts?"%>
        <%= f.submit "Post", class: "submit-button"%>
        </div>
<%end%>