<ul class="articles">
  <% articles.each do |article|%>
    <li class="article-container">
      <%= link_to article.title, article_path(article), class: "article-title"%>
      <div class="article-content">
        <% if article.image.exists?%>
          <%= link_to image_tag(article.image.url,class: "article-img"), article_path(article)%>
        <%end%>
        <p class="tags-text">
          <% article.tags.each do |tag|%>
            <%= link_to tag.name, tag_path(tag)%>
          <%end%>
        </p>
        <p class="created-text" ><%= image_tag("calendar.png", class: "icon-img")%>Created <%= time_ago_in_words(article.created_at)%> ago</p>
        <p class="view-text"><%= image_tag("eye.png", class: "icon-img")%><%= article.view_count%> views</p>
        <% words = article.body.split(/\W+/) %>
        <p><%= words[0..20].join(' ') %>...</p>
      </div>
    </li>
  <%end%>
</ul>
