<div class="comment-container">
  <h4 class="comment-author"> <%= comment.author_name%></h4>
  <p class="created-text"><%= image_tag("calendar.png", class: "icon-img")%> Posted <%= time_ago_in_words( comment.created_at) %> ago</p>
  <p class="comment"><%=comment.body%></p>
</div>
