<%= form_for(@article, html: {multipart: true}) do |f|%>
  <ul>
    <% @article.errors.full_messages.each do |error|%>
      <li><%= error%></li>
    <%end%>
  </ul>
  <div class="new-article-container">
    <p>
      <%= f.label :title, class: "textarea-label"%><br/>
      <%= f.text_field :title, class: "author-body",placeholder: "My First Blog!"  %>
    </p>
    <p>
      <%= f.label :body, class: "textarea-label" %><br/>
      <%= f.text_area :body, class: "comment-body",placeholder: "What are your thoughts?" %>
    </p>
    <p>
      <%= f.label :tag_list, class: "textarea-label"%><br/>
      <%= f.text_field :tag_list, class: "tag-body",placeholder: "Ex. Ruby, Programming, Learning..."%>
    </p>
    <% if @article.image.exists?%>
      <%= image_tag @article.image.url, class: "textarea-label"%><br/>
    <%end%>
    <%= f.label :image, "Attach a New Image", class: "textarea-label"%><br/>
    <div class="file-input-wrapper">
      <button class="file-input-button"><%= image_tag("add-image.png", class: "add-image-icon")%> Upload Image</button>
      <%= f.file_field :image%>
    </div>
    <p>
      <%= f.submit "Create Article", class: "submit-button" %>
    </p>
  </div>
<%end%>