<%if  @number_of_articles > 3%>
<h1>Popular Articles</h1>
<%= render partial: "article", locals: {articles: @top_articles}%>
<br>
<br>
<br>
<%end%>
<h1><%= @header_title%></h1>
<% if logged_in?%>
  <%= link_to "Create a New Article", new_article_path, class: "new-article"%>
<%end%>
<%= render partial: "article", locals: {articles: @articles}%>
