<%= link_to articles_path, class: "back-button" do%>
    <%=image_tag("arrow.png", class: "icon-img")%> Back to Articles List
<%end%>
<div class="article-container">
  <h1 class="article-title"><%= @article.title%></h1>
  <div class="article-content">
    <p class="tags-text">
      <% @article.tags.each do |tag|%>
        <%= link_to tag.name, tag_path(tag)%>
      <%end%>
    </p>
    <p class="created-text" ><%= image_tag("calendar.png", class: "icon-img")%>Created <%= time_ago_in_words(@article.created_at)%> ago</p>
    <p class="view-text"><%= image_tag("eye.png", class: "icon-img")%><%= @article.view_count%> views</p>
    <% if @article.image.exists?%>
      <%= image_tag @article.image.url,class: "article-img"%>
    <%end%>
    <p><%= @article.body%></p>
  </div>
  <div id="article-button-container">
    <% if logged_in?%>
      <%= link_to edit_article_path(@article), class: "edit-button" do%>
        <%=image_tag("pencil.png", class: "icon-img")%> Edit
      <%end%>
      <%= link_to  article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, class: "delete-button" do%>
        <%= image_tag("delete.png", class: "icon-img")%> Delete
      <%end%>
    <%end%>
  </div>
</div>
<hr></hr>
<div class="comments-container">
  <h3 class="comments-title">Comments (<%= @article.comments.size%>)</h3>
  <%= render partial: "comments/form"%>
  <%= render partial: "articles/comment", collection: @article.comments%>
</div>
