<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="author-container">
    <div class="author-info-label">
      <%= form.label :username, class:"comment-author" %>
      <%= form.text_field :username, class: "tag-body" %>
    </div>
    <div class="author-info-label">
      <%= form.label :email, class:"comment-author" %>
      <%= form.text_field :email, class: "tag-body" %>
    </div>
    <div class="author-info-label">
      <%= form.label :password, class:"comment-author" %>
      <%= form.password_field  :password, class: "tag-body" %>
    </div>
    <div class="author-info-label">
      <%= form.label :password_confirmation, class:"comment-author" %>
      <%= form.password_field :password_confirmation, class: "tag-body" %>
    </div>
    <div class="author-info-label">
      <%= form.submit "Update Author", class: "edit-button" %>
    </div>
  </div>
<% end %>
