<p id="notice"><%= notice %></p>
<h1>Authors</h1>
<table class="author-container" >
  <thead class="author-info-header">
    <tr>
      <th id="username-title">Username</th>
      <th>Email</th>
      <th colspan="3"></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr class="author-row">
        <td class="comment"><%= author.username %></td>
        <td class="comment"><%= author.email %></td>
        <td> <%= link_to  "More Info", author, class: "submit-button"%></td>
        <td> <%= link_to edit_author_path(author), class: "submit-button"  do%>
            <%=image_tag("pencil.png", class: "icon-img")%> Edit
          <%end%>
        </td>
        <td>
          <%= link_to author, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" do%>
            <%= image_tag("delete.png", class: "icon-img")%> Delete
          <%end%>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Author', new_author_path, class: "new-article" %>
