<p id="notice"><%= notice %></p>
<div class="author-container">
  <p class="author-info-label">
    <strong class="comment-author">Username:</strong>
    <%= @author.username %>
  </p>
  <p class="author-info-label">
    <strong class="comment-author">Email:</strong>
    <%= @author.email %>
  </p>
  <br>
</br>
<%= link_to edit_author_path(@author), class: "edit-button"  do%>
  <%=image_tag("pencil.png", class: "icon-img")%> Edit
<%end%>
<br>
</br>
</div>
<br>
</br>
<%= link_to authors_path, class: "back-button" do%>
    <%=image_tag("arrow.png", class: "icon-img")%> Back to Authors List
<%end%>
