<h1>All Tags</h1>
<ul id="tags">
  <% @tags.each do |tag|%>
    <li class="tags-container">
      <%= link_to tag.name, tag_path(tag), class: "tags-link"%>
      <% if logged_in?%>
        <%= link_to tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"}, class: "delete-button" do%>
          <%= image_tag("delete.png", class: "icon-img")%> Delete
        <%end%>
      <%end%>
    </li>
  <%end%>
</ul>
