<h1>Articles Tagged with <%= @tag.name%></h1>

<ul>
    <% @tag.articles.each do |article|%>
        <li class="tags-container"><%= link_to article.title, article_path(article), class: "tags-link"%></li>
    <%end%>
</ul>