<h1>Login</h1>

<%= form_tag author_sessions_path, method: :post do%>
<div class="author-container">
    <div class="author-info-label">
        <%= label_tag :email, "Email:"%>
        <%= text_field_tag :email, "", class: "author-body"%>
    </div>
    <div class="author-info-label">
        <%= label_tag :password, "Password:"%>
        <%= password_field_tag :password, "", class: "author-body"%>
    </div>

        <%= submit_tag "Login", class: "submit-button"%>
</div>
<%end%>
<br></br>
<%= link_to  articles_path, class: "back-button" do%>
    <%=image_tag("arrow.png", class: "icon-img")%> Back
<%end%>