$base-color: #0E950E;
$adjacent-color-light: #41CB41;
$complement-color: #FE5151;

.sidenav {
  height: 100%;
  width: 185px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #292929;
  overflow-x: hidden;
  padding-top: 20px;

  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

.sidenav a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffffa8;
  display: block;
}

.navbar-footer {
  padding: 0px 8px 0px 16px;
  position: absolute;
  bottom: 10px;
  color: #ffffffa8;
}

.navbar-footer p {
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}

#gitlab-link {
  padding: 0;
  height: 28px;
  width: 30px;
  display: inline-block;
}

#gitlab-icon {
  height: 34px;
  width: 34px;
  background-image: image-url("gitlab-icon-1-color-white-rgb.png");
  background-size: cover;
}

#gitlab-icon:hover {
  background-image: image-url("gitlab-icon-rgb.png");
}

#rss-icon {
  height: 24px;
  width: 24px;
  filter: grayscale(40%) brightness(110%);
}

#rss-icon:hover {
  filter: grayscale(0%) brightness(100%);
}

#rss-link {
  padding: 0px;
  height: 24px;
  width: 24px;
  display: inline-block;
}

#username {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: $base-color;
  display: block;
  clear: both;
}

#username:hover {
  color: $adjacent-color-light;
}

.sidenav a:hover {
  color: $complement-color;
}

#archive p {
  color: #ffffffa8;
  text-align: center;
  padding-top: 20px;
}

#archive input {
  display: block;
  margin: auto;
  border: none;
  background-color: #505050;
  padding: 5px 10px;
  color: white;
  margin-top: 5px;
  border: 1px #ffffff3d solid;
  border-radius: 4px;
}

#archive input:hover {
  margin-top: 5px;
  border-radius: 4px;
  border: 1px $complement-color solid;
  background-color: #292929;
  box-shadow: 0px 0px 4px $complement-color;
  cursor: pointer;
}

#archive-select {
  text-align: center;
  padding-bottom: 5px;
}

#archive-select select {
  padding: 2px 5px;
  border-radius: 3px;
  color: black;
}

#ruby-icon {
  height: 38px;
  width: 42px;
  cursor: default;
  float: left;
  margin-left: 5px;
  background-image: image-url("icons8-ruby-programming-language-48.png");
  background-size: cover;
}

#ruby-icon:hover {
  background-image: image-url("icons8-ruby-programming-language-64.png");
}

#navbar-header-text {
  color: white;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}