$base-color: #0E950E;
$adjacent-color-light: #41CB41;
$complement-color: #FE5151;

#container {
  width: 75%;
  margin: 0 auto;
  min-width: 600px;
}

@media screen and (max-width: 1700px) {
  #container {
    margin: 0 0 0 190px;
  }
}

body {
  background-color: #121212;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

ul {
  padding-inline-start: 0px;
}

h1 {
  display: inline-block;
  margin: 0px;
  color: $base-color;
}

.article-container,
li,
.comments-container {
  list-style-type: none;
  border: 1px white solid;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  overflow: auto;
  min-height: 100px;
  background-color: #292929;
  box-shadow: 0px 0px 3px black;
}

.article-container:hover,
li:hover,
.comments-container:hover {
  border: 1px white solid;
  box-shadow: 0px 0px 5px white;
}

#content {
  background-color: #121212;
}

.article-title,
.comments-title,
.author-info-header {
  background: #505050;
  color: $adjacent-color-light;
  display: block;
  padding: 10px 0px 10px 10px;
  text-decoration: none;
  font-size: 18px;
}

.comments-title {
  margin: 0;
}

hr {
  margin-bottom: 20px;
  background-color: $complement-color;
  border: none;
  height: 2px;
}

.article-img {
  float: right;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  padding-bottom: 10px;
}

.icon-img,
.add-image-icon {
  max-width: 18px;
  max-height: 18px;
  padding: 0 0 0 0;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.add-image-icon {
  margin: 0 5px 2px 0;
}

.created-text,
.view-text {
  display: inline;
  color: #ffffffa8;
}

.article-content,
.comment {
  padding: 10px;
  color: #ffffff;
}

.tags-text {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}


.tags-text a,
.tags-link {
  padding: 0px;
  margin: 0px;
  color: white;
  text-decoration: none;
}

.tags-text a:hover,
.tags-link:hover {
  color: $complement-color;
  text-decoration: underline;
}

.new-article,
.back-button {
  float: right;
  border: 1px $complement-color solid;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  background-color: $complement-color;
  display: block;
}

.new-article:hover,
.back-button:hover {
  background-color: #121212;
  color: white;
  box-shadow: 0px 0px 4px $complement-color;
}

.back-button:hover img{
  filter: invert(100%);
}

.back-button {
  float: none !important;
  margin-bottom: 10px;
  width: 12%;
}

.comment-author {
  color: $complement-color;
  margin-bottom: 5px;
}

.comment-container,
.new-article-container,
.author-container {
  padding-left: 10px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 2px;
  background-color: #404040;
}

.new-article-container {
  margin-left: 0;
}

.comment-container:hover,
.new-article-container:hover,
.author-container:hover {
  border: 1px white solid;
  box-shadow: 0px 0px 5px white;
}

.author-container {
  display: block;
  padding-left: 0px;
  margin: 10px 0 0 0;
}

#article-button-container {
  margin: 0px 0px 20px 0px;
}

.edit-button,
.delete-button,
.submit-button,
.file-input-button {
  display: inline-block;
  margin: auto;
  border: none;
  background-color: #505050;
  padding: 5px 10px;
  color: white;
  margin-top: 5px;
  border: 1px #ffffff3d solid;
  border-radius: 4px;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.edit-button:hover,
.delete-button:hover,
.submit-button:hover,
.file-input-wrapper:hover>.file-input-button {
  border-radius: 4px;
  border: 1px $complement-color solid;
  background-color: #292929;
  box-shadow: 0px 0px 4px $complement-color;
  cursor: pointer;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-body {
  display: block;
}

.textarea-label {
  color: white;
  margin: 0px;
}

.comment-body,
.author-body,
.tag-body {
  background-color: #292929;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.comment-body {
  width: 600px;
  height: 120px;
  padding: 5px 0 0 10px;
}

.comment-body:focus {
  outline: 0;
  border: 1px white solid;
  box-shadow: 0px 0px 4px $complement-color;
}

.tag-body {
  width: 300px;
}

.author-body {
  width: 120px;
}

.author-body,
.tag-body {
  height: 18px;
  border: 1px white solid;
  padding: 0 0 0 5px;
}

.author-body:focus,
.tag-body:focus {
  outline: 0;
  border: 1px white solid;
  box-shadow: 0px 0px 4px $complement-color;
}

.file-input-wrapper {
  margin-top: 15px;
  width: 210px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.file-input-wrapper>input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.file-input-wrapper>.file-input-button {
  display: inline-block;
  width: 200px;
  height: 40px;
}

.tags-container {
  min-height: 0px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.author-row:hover {
  background-color: #292929;
}

.author-info-header {
  display: table-header-group;
}

#username-title {
  width: 1px;
}

.author-info-label {
  color: $complement-color;
  margin-bottom: 5px;
  margin-left: 5px;
}