<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= auto_discovery_link_tag :rss, articles_path(:format => :rss) %>
  </head>
  <body>
    <p class="flash"><%= flash.notice %></p>
    <div class="sidenav">
      <div id="navbar-header">
        <div id="ruby-icon" class="article-img"></div>
        <div id="navbar-header-text">Blog with Rails</div>
      </div>
      <% if logged_in?%>
        <%= link_to "#{current_user.username}", authors_path, :id => "username"%>
      <%else%>
              <br>
      <%end%>
      <%= link_to "Articles", articles_path%>
      <%= link_to "Tags", tags_path%>
      <% if logged_in?%>
        <%= link_to "New Article", new_article_path%>
        <%= link_to "Logout", logout_path%>
      <%else%>
        <%= link_to "Login", login_path%>
      <%end%>
      <div id=archive>
        <%= form_with url: articles_path, method: :get, authenticity_token: true, local: true do |form|%>
          <p>Archive:</p>
          <div id=archive-select>
            <%= form.select "month", options_for_select(@articles_months), include_blank: "Month" %>
            <%= form.select "year", options_for_select(@articles_years), include_blank: "Year" %>
          </div>
          <%= form.submit 'Search'%>
        <%end%>
      </div>
      <div class="navbar-footer">
        <%= link_to image_tag("feed-icon-24x24.gif", :id => "rss-icon"), articles_path(format: "rss"), :id => "rss-link"%>
        <%= link_to( "https://gitlab.com/asuar/blogger", :id => "gitlab-link") do%>
            <div id="gitlab-icon"></div>
        <%end%>
        <p>© 2019 Alain Suarez</p>
      </div>
    </div>
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
